* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'monteserrat', sans-serif;

}


:root {
    --dark-purple: #0D0614;
    --medium-purple: #2C1344;
    --normal-purple: #4A2073;
    --highlight-purple: #522780;
    --light-purle: #C9BCD8;
    --yellow: #FEC800;
}

body {
    background: linear-gradient(to bottom, #4A2073, #2C1344, #0D0614);
    min-height: 100vh;
    color: white;
    line-height: 1.6;

    p{
        font-size: 1.5rem;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2.5rem;
    }

}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: transparent;
}

img {
    width: 10rem;

}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 12rem;
    height: 4rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.25;
}

nav h3 {
    font-size: 1rem;
    transform: scale(1.1);

}

.about-img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}


nav h3:hover {
    color: var(--yellow);
    transition-duration: .6s;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav img {
    width: 3rem;
}

.primeira_section {
    display: flex;
    flex-direction: column;

    .acidos {
       h1{
        margin-top: 9rem;
        margin-left: 13rem;
       }

       p{
        margin-left: 16rem;
        margin-top: 2rem;
    }
    }

    .classificacao_dos_acidos {
        h2 {
           margin-left: 13rem;
           margin-top: 2rem;
           margin-bottom: 2rem;
           font-weight: 500;
        }
    }

    .numero_de_hidrogenio {
        padding: 2rem 3rem;
        margin-left: 16rem;
        background: var(--highlight-purple);
        border-radius: 3.94rem;
        max-width: 1000px;

        h3{
            margin-left: 3.38rem;
            margin-top: 1.25rem;
            margin-bottom: 1.44rem;
        }

        p{
            margin-left: 3.38rem;
            margin-top: 1.25rem;
            margin-bottom: 1.44rem; 
        }
        
    }

    span{
        color: var(--yellow);
        font-weight: 600;
    }
}

.segunda_section{
    display: flex;
    flex-direction: column;

    .forca_do_acido{
            p {
                margin-top: 5.38rem;
                margin-left: 16rem;
            }

        h3{
            padding: 1rem;
            background: var(--light-purle);
            border-radius: .5rem;
            text-align: center;
            color: #0D0614;
            font-weight: 500;

            .linha_preta{
                border: none;
                height: .1rem;
                background: var(--normal-purple);
                margin: .3rem 0;
                width: 60%;
                margin: 8px auto;
            }
        }
    }
}

