
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'monteserrat', sans-serif;
}

:root {
    --dark-purple: #0D0614;
    --medium-purple: #2C1344;
    --normal-purple: #4A2073;
    --highlight-purple: #522780;
    --highlight-purple-opacity: rgba(84, 41, 130, 0.5);
    --light-purle: #C9BCD8;
    --yellow: #FEC800;
}

body {
    background: linear-gradient(to bottom, #4A2073, #2C1344, #0D0614);
    min-height: 100vh;
    color: white;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem 4rem;
    background-color: transparent;
}

.logo img {
    width: 10rem;
    position: relative;
    top: 6px; 
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header ul li {
    position: relative;
}

header ul li a {
    display: block;
    padding: 1.25rem 1.5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}

header ul li a:hover {
    color: var(--yellow);
    transition: .3s;
}

header ul li ul.dropdown {
  position: absolute;
  top: calc(100% - 12px);   
  left: 0;
  display: none;
  background: rgba(74, 32, 115, 0.98); 
  padding: 10px 0;
  border-radius: 6px;
  min-width: 140px;     
  z-index: 9999;      
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

header ul li ul.dropdown li {
    display: block;
}

header ul li:hover ul.dropdown {
    display: block;
}

/* ÍCONE */
.about {
    display: flex;
    align-items: center;
}

.about-img {
    width: 4rem;
    transition: transform 0.3s ease;
}

.about-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.container {
    height: calc(100vh - 120px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: rgba(255, 255, 255, 0.22);
    padding: 40px 60px 60px 60px;
    border-radius: 25px;
    width: 850px;
    text-align: center;
    backdrop-filter: blur(5px);
}

h1 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #3a0055;
    font-size: 40px;
    font-weight: 700;
}

p {
    margin-top: 0;
    margin-bottom: 25px;
    color: #221036;
    font-size: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.479);
    padding: 14px;
    border-radius: 10px;
}

.input-group i {
    color: #0f0f0f;
    opacity: 0.8;
    margin-right: 10px;
    font-size: 18px;
}

.input-group input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 15px;
}

a {
    color: #221036;
    opacity: 0.7;
    font-size: 14px;
    text-decoration: none;
}

.extra-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.checkbox-area {
    color: #221036;
    opacity: 0.9;
    font-size: 14px;
}

button {
    width: 140px;
    padding: 10px 0;
    margin-top: 15px;
    background: #ffcc00;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
