* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'monteserrat', sans-serif;

}


:root {
    --dark-purple: #0D0614;
    --medium-purple: #2C1344;
    --normal-purple: #4A2073;
    --highlight-purple: #522780;
    --highlight-purple-opacity: rgba(84, 41, 130, 0.5);
    --light-purle: #C9BCD8;
    --yellow: #FEC800;
}

body {
    background: linear-gradient(to bottom, #4A2073, #2C1344, #0D0614);
    min-height: 100vh;
    color: white;
    line-height: 1.6; 

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: transparent;
}

img {
    width: 10rem;

}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about-img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 4rem;
    margin-left: 40rem;
    margin-top: -5rem;
}

.about{
    margin-top: -1rem;
}

.about-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 1.25rem 1.5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    
}

ul li ul.dropdown li{
    display: block;
    background: var(--highlight-purple-opacity);
}

ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    color: var(--yellow);
    transition: .3s;
}

ul li:hover ul.dropdown{
    display: block;
}

.primeira_div{
    display: flex;
    flex-direction: column;

    h1 {
        margin: 3rem 2rem 3rem 20rem;
        font-size: 2.5rem;
    }

    p {
        margin-left: 22rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    h2{
        margin: 3rem 0rem 2rem 22rem;
        font-size: 2rem;
    }
}

.segunda_div{
    display: flex;
    
    .numero_de_hidroxilas{
        margin: 12rem 0 0 10rem;

        h3{
            font-size: 1.7rem;
        }

        p{
            font-size: 1.7rem;
            margin-top: 2rem;
        }
    }

    .caracteristicas_hidroxilas{
       padding: 2rem 4rem;
       background: var(--highlight-purple);
       border-radius: 3rem;
       border: 2rem solid var(--yellow);
       width: 40rem;
       height: 40rem;
     

       margin-top: 5rem;
       margin-left: 20rem;
       font-size: 1.5rem;

       p{
        margin-top: 1.5rem;
       }

       span{
        font-weight: 700;
       }
    }
}

.terceira_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quanto_maior{
        margin: 7rem 0 2rem 0;
        font-size: 1.5rem;

        span{
            color: var(--yellow);
        }
    }

    .formula{
        padding: 2rem;
        background: var(--highlight-purple);
        border-radius: 2rem;
        font-size: 1.5rem;

        hr{
            border: none;
            height: .15rem;
            background-color: var(--medium-purple);
        }
    }

    .formula{
        transition: all 0.5s ease-in-out; /* Transição aqui */
        box-shadow: none; /* define sombra inicial */
    }

    .formula:hover{
        padding: 2rem;
        background: var(--light-purle);
        border-radius: .5rem;
        font-size: 1.5rem;
        transition: .7s;
        color: black;
        transform: scale(1.05); /* aumenta o tamanho */
        box-shadow: 0 0 1rem var(--dark-purple); /* sombra branca envolta */
        transition: all 0.5s ease-in-out;

        hr{
            border: none;
            height: .15rem;
            background-color: var(--highlight-purple);
           
        }
    }
}

.quarta_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    background: var(--highlight-purple);
    border-radius: 2rem;
    border: 2rem solid var(--yellow);
    width: 50rem;
    height: 34rem;

    margin-left: 22.5rem;
    margin-top: 3rem;

    h2 {
        text-align: start;
        width: 100%;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .fortes{
        margin-left: 3rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    ol{
        font-size: 1.5rem;
        margin-left: 5rem;
        margin-bottom: 1rem;
    }

    .fracos{
        font-size: 1.5rem;
        margin-left: 3rem;
    }

    span{
        font-weight: 700;
    }
}

.quinta_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    background: var(--highlight-purple);
    border-radius: 2rem;
    border: 2rem solid var(--yellow);
    width: 50rem;
    height: 30rem;
    margin-top: 4rem;
    margin-left: 22em;

    h2{
        margin-right: auto;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    p{
        margin-right: auto;
        margin-left: 3rem;
        font-size: 1.5rem;
    }

    span{
        font-weight: 700;
    }
}

.sexta_div{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: 2rem;
        margin-top: 4rem;
    }

    p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}

.setima_div {
  background-color: #f2bd33; /* amarelo da borda */
  padding: 1rem;
  border-radius: 16px;
  width: fit-content;
margin-top: 3rem;
margin-left: 22rem;

}
.tabela-container {
  background-color: #522780; /* roxo */
  color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  
}

.tabela-container h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.tabela-container h3 {
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  font-weight: 1.5rem;
}

/* tabela sem bordas, só alinhamento */
.tabela-container table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
  margin: 0 auto;
  
}

.tabela-container th {
  display: none; /* tira o cabeçalho */
}

.tabela-container td {
  padding: 0.4rem 3rem 0.4rem 0;
  border: none;
  font-size: 1.5rem;
}

.tabela-container td {
  padding: 0.6rem 2rem;
  border: none;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* linha branca translúcida */
}

.tabela-container tr:last-child td {
  border-bottom: none; /* remove a linha da última */
}

.paragrafo_tabelas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.oitava_div {
  background-color: #f2bd33;
  padding: 1rem;
  border-radius: 16px;
  width: fit-content;
  margin: 2rem auto;

  .tabela2-container {
    background-color: #522780;
    color: white;
    padding: 2rem 3rem;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    text-align: center;

    h2 {
      margin: 0;
      font-size: 2rem;
      font-weight: bold;
      margin-right: auto;
    }

    h3 {
      margin: 0 0 2rem 0;
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 1.4;
    }

    table {
      border-collapse: collapse;
      margin: 0 auto;
      font-size: 1.5rem;

      td {
        padding: 0.6rem 2rem;
        border: none;
        text-align: left;
        vertical-align: top;
      }

      .grupo {
        font-weight: bold;
        vertical-align: middle; /* cobre centralizado no meio das duas linhas */
      }
    }
  }
}

.nona_div{
    display: flex;
    flex-direction: column;

    h2{
        margin-left: 8rem;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        margin-top: 3rem;
    }

    ol{
        margin-left: 10rem;
        font-size: 1.5rem;
    }
}

.img {
  display: flex;           /* permite manipular alinhamento */
  justify-content: flex-end; /* empurra o conteúdo para a direita */
  margin-top: -20rem;
}

.img img {
  width: 300px;
  height: auto;
  margin-right: 20rem;

}

.decima_div{
    display: flex;
    flex-direction: column;

    h2{
        margin-top: 10rem;
        font-size: 2rem;
        margin-left: 8rem;
        margin-bottom: 1rem;
    }

    p{
        margin-left: 10rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}

.imagem-direita-grande {
    display: block;       /* garante que seja tratada como bloco */
    margin-left: 10rem;    /* empurra a imagem para a direita */
    width: 500px;         /* aumenta o tamanho da imagem */
    height: auto;         /* mantém proporção */
    margin-bottom: 2rem;
}


button {
    background-color: var(--yellow); /* Amarelo */
    color: #000;               /* Texto preto */
    border: none;
    padding: 1rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    float: right; /* Alinha à direita */
    margin: 2rem;
  
    width: 8rem;
    color: #FFf;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10rem;
    margin-top: -5rem;
  }